<html lang="es">
  <head>
    <%- include('plantillas/head'); %>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>

    <div class="centerH">
        <div id="content" class="col70">
<!--------------------------------- CABECERA ------------------------------>
            <%- include('plantillas/header'); %>
<!--------------------------------- CUERPO -------------------------------->
            <div id="body" class="col100">
    <!--------------------------------- MENÚ ---------------------------------->
                <%- include('plantillas/menu'); %>
    <!--------------------------------- CONTENIDO ----------------------------->
                <div id="content" class="col70">
                    <div id="barraOpciones"></div>
                    <div id="peliculas" class="col100 mMarginTop">
                        <input type="hidden" name="totalPeliculas" id="totalPeliculas" value="<%= totalPeliculas %>">
                        <% peliculas.forEach(function(peliculas) { %>
                            <div id="<%= peliculas._id %>" class="unaPelicula col30 mMarginRight" onclick="$(location).attr('href','/api/peliculas/ver/pelicula/<%= peliculas._id %>');">
                                <div class="col100 fondoPelicula">
                                    <div class="valoracionPelicula" class="col100">
                                        <% for(var i = 1; i <= 5; i++) { %>
                                            <% if(i <= peliculas.valoracion ) { %>
                                                <img src="/img/estrellaAmarilla.svg" alt="" class="col10 sMarginRight">
                                            <% } else{ %>
                                                <img src="/img/estrellaBlanca.svg" alt="" class="col10 sMarginRight">
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <div class="imgPelicula col100">
                                        <img src="/img/peliculas/<%= peliculas.imagen %>" alt="" class=" jpgPelicula col100">
                                    </div>
                                    
                                </div>
                                <div class="infoPelicula">
                                    <p><%= peliculas.titulo %></p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    <div class="col100">
                        <p id="pagPrimera" class="col5 menuPaginar" onclick="$(location).attr('href', ('/api/peliculas/'));" >Inicio</p>
                        <p id="pagAnterior" class="col8 sMarginLeft menuPaginar" onclick="anterior()" >Anterior</p>
                        <p id="pagSigiente" class="col8 menuPaginar" onclick="siguiente()" >Siguiente</p>
                        <p id="pagUltima" class="col8 menuPaginar" onclick="pagFinal()" >Final</p>
                    </div>
                </div>
                <div id="btnNewform" class="col8 right xlMarginTop">
                    <button class="btn-success round col100 centerVH" onclick="$(location).attr('href','/api/peliculas/add');">
                        <svg class="col70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.021 25.021">
                            <polygon points="25.021,16.159 16.34,16.159 16.34,25.021 8.787,25.021 8.787,16.159 0,16.159 0,8.605 
                                    8.787,8.605 8.787,0 16.34,0 16.34,8.605 25.021,8.605" fill="#fff"></polygon>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>
  </body>
</html>
<script src="/js/index.js"></script>