<html lang="es">
  <head>
    <%- include('../plantillas/head'); %>
    <link rel="stylesheet" href="../../css/peliculas/add.css" />
  </head>

  <body>

    <div class="centerH">
        <div id="content" class="col70 bblack">
<!--------------------------------- CABECERA ------------------------------>
            <%- include('../plantillas/header'); %>
<!--------------------------------- CUERPO -------------------------------->
            <div id="body" class="col100">
    <!--------------------------------- MENÚ ---------------------------------->
                <%- include('../plantillas/menu'); %>
    <!--------------------------------- CONTENIDO ----------------------------->
                <div id="content" class="col70">
                    <div id="btnNewform" class="col8 right mMarginTop">
                        <button class="btn-success round col100 centerVH" onclick="addForm()">
                            <svg class="col70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.021 25.021">
                                <polygon points="25.021,16.159 16.34,16.159 16.34,25.021 8.787,25.021 8.787,16.159 0,16.159 0,8.605 
                                        8.787,8.605 8.787,0 16.34,0 16.34,8.605 25.021,8.605" fill="#fff"></polygon>
                            </svg>
                        </button>
                    </div>
                    <div class="col80">
                        <form action="/api/peliculas" method="post" enctype="multipart/form-data">
                            <label for="titulo" class="col100 mMarginTop">Título</label>
                            <input type="text" name="titulo" id="titulo" class="col50 mMarginLeft" required><br><br>

                            <label for="imagen" class="col100 mMarginTop">Imagen</label><br><br>
                            <input id="imagen" type="file" name="imagen" class="col50 mMarginLeft"><br>

                            <label for="anyo" class="col100 mMarginTop">Año</label>
                            <input id="anyo" type="number" name="anyo" class="col50 mMarginLeft" required><br><br>

                            <label for="valoracion" class="col100 mMarginTop">Valoración</label>
                            <input type="number" name="valoracion" id="valoracion" class="col50 mMarginLeft" required><br><br>
                            <div class="clear"></div>
                            <label for="generos" class="col100 mMarginTop">Géneros</label>
                            <% for(var i = 0; i < listaGeneros.length; i++) { %>
                                <div class="col23">
                                    <input class="col20 sMarginTop" type="checkbox" name="unGenero" value="<%= listaGeneros[i]._id%>"> <p class="col80"><%= listaGeneros[i].nombre %></p>
                                </div>
                            <% } %>

                            <label for="descripcion" class="col100 mMarginTop">Descripción</label>
                            <textarea id="descripcion" class="col50 mMarginLeft" name="descripcion" cols="30" rows="2"></textarea><br><br>
                            <div class="col100 mMarginTop">
                                <button type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>
  </body>
</html>
