<html lang="es">
  <head>
    <%- include('../plantillas/head'); %>
  </head>

  <body>

    <div class="centerH">
        <div id="content" class="col70">
<!--------------------------------- CABECERA ------------------------------>
            <%- include('../plantillas/header'); %>
<!--------------------------------- CUERPO -------------------------------->
            <div id="body" class="col100">
    <!--------------------------------- MENÚ ---------------------------------->
                <%- include('../plantillas/menu'); %>
    <!--------------------------------- CONTENIDO ----------------------------->
                <div id="content" class="col80">
                    <div id="barraOpciones"></div>
                    <div id="pelicula" class="col100 mMarginTop">
                        <div id="tituloVal" class="col55">
                            <h1 class="col100"><%= pelicula.titulo %></h1>
                            <div id="valoracion" class="col50 sMarginLeft smMarginTop">
                                <% for(var i = 1; i <= 5; i++) { %>
                                    <% if(i <= pelicula.valoracion ) { %>
                                        <img src="/img/estrellaAmarilla.svg" alt="" class="col10 sMarginRight">
                                    <% } else{ %>
                                        <img src="/img/estrellaBlanca.svg" alt="" class="col10 sMarginRight">
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="col30 lMarginLeft">
                                <button class="col45 smMarginTop mMarginRight" onclick="$(location).attr('href','/api/peliculas/editar/pelicula/<%= pelicula._id %>');">Editar</button>
                                <button class="col45 smMarginTop" onclick="confirmarEliminar()">Eliminar</button>
                            </div>
                            <div class="hidden">
                                <form class="col45 smMarginTop" action="/api/peliculas/delete/pelicula/<%=pelicula._id%>" method="post" enctype="multipart/form-data">
                                    <button class="col100" type="submit" id="botonEliminar">Eliminar</button>
                                </form>
                            </div>
                        </div>
                        <div class="col40 right">
                            <img src="/img/peliculas/<%= pelicula.imagen %>" alt="" class=" jpgPelicula col100">
                        </div>
                        <div class="col50 lMarginTop">
                            <p class="col10">Año: </p>
                            <p class="col85"><%= pelicula.anyo %></p>
                            <p class="col15">Géneros: </p>
                            <p class="col85"><%= etiquetas %></p>
                            <p>Sipnosis:</p>
                            <p> <%= pelicula.descripcion %> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>

    
  </body>
  <style>
    .hidden{
        visibility: hidden;
    }
  </style>
    <script>
        function confirmarEliminar(){
            var resp = confirm('¿Está seguro de que desea eliminar esta película?');
            if(resp){
                $('#botonEliminar').click();
            }
        }
  </script>
</html>