<html lang="es">
  <head>
    <link rel="stylesheet" href="/css/frontend.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>

    <div class="centerH">
        <div id="content" class="col70 bblack">
<!--------------------------------- CABECERA ------------------------------>
            <div id="header" class="col100 bred"></div>
<!--------------------------------- CUERPO -------------------------------->
            <div id="body" class="col100">
    <!--------------------------------- MENÚ ---------------------------------->
                <div id="menu" class="col15">
                    <div id="menuPeliculas" class="col100 sMarginTop">
                        <div id="menuPeliculasCapa1" class="col100">
                            <div class="col10 mMarginLeft sMarginTop">
                                <img src="/img/17343587831556273568.svg" alt="">
                            </div>
                            <p class="menuElement col80 xsMarginTop" onclick="contenidoPeliculas()">Películas</p>
                        </div>
                        <div id="menuPeliculasCapa2" class="col100">

                        </div>
                    </div>
                    <div id="menuSeries" class="col100">
                        <p class="menuElement">Series</p>
                    </div>
                </div>
    <!--------------------------------- CONTENIDO ----------------------------->
                <div id="content" class="col80">
                    <div id="barraOpciones"></div>
                    <div id="pelicula" class="col100 mMarginTop">
                        <div id="tituloVal" class="col55">
                            <h1 class="col100"><%= pelicula.titulo %></h1>
                            <div id="valoracion" class="col50 sMarginLeft smMarginTop">
                                <% for(var i = 1; i <= 5; i++) { %>
                                    <% if(i <= pelicula.valoracion ) { %>
                                        <img src="/img/estrellaAmarilla.svg" alt="" class="col10 sMarginRight">
                                    <% } else{ %>
                                        <img src="/img/estrellaBlanca.svg" alt="" class="col10 sMarginRight">
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="col30 lMarginLeft">
                                <button class="col45 smMarginTop mMarginRight" onclick="$(location).attr('href','/api/peliculas/editar/<%= pelicula._id %>');">Editar</button>
                                <button class="col45 smMarginTop" onclick="confirmarEliminar()">Eliminar</button>
                            </div>
                            <div class="hidden">
                                <form class="col45 smMarginTop" action="/api/peliculas/delete/<%=pelicula._id%>" method="post" enctype="multipart/form-data">
                                    <button class="col100" type="submit" id="botonEliminar">Eliminar</button>
                                </form>
                            </div>
                        </div>
                        <div class="col40 right bblack">
                            <img src="/img/peliculas/<%= pelicula.imagen %>" alt="" class=" jpgPelicula col100">
                        </div>
                        <div class="col50 lMarginTop">
                            <p class="col10">Año: </p>
                            <p class="col85"><%= pelicula.anyo %></p>
                            <p class="col15">Géneros: </p>
                            <p class="col85"><%= etiquetas %></p>
                            <p>Sipnosis:</p>
                            <p> <%= pelicula.descripcion %> </p>
                        </div>
                    </div>
    <!-- AQUÍ IRÁN LOS COMENTARIOS -->
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>

    
  </body>
  <style>
    .hidden{
        visibility: hidden;
    }
  </style>
    <script>
        function confirmarEliminar(){
            var resp = confirm('¿Está seguro de que desea eliminar esta película?');
            if(resp){
                $('#botonEliminar').click();
            }
        }
  </script>
</html>